[Unit]
Description=gunicorn daemon for greenmart backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/freshinbasket/backend
ExecStart=/var/www/freshinbasket/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          greenmart_core.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
